/*

Volton Template

http://www.templatemo.com/tm-441-volton

*/

@font-face {
  font-family: 'robotolight';
  src: url("../fonts/Roboto-Light-webfont.eot");
  src: url("../fonts/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light-webfont.woff") format("woff"), url("../fonts/Roboto-Light-webfont.ttf") format("truetype"), url("../fonts/Roboto-Light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/Roboto-Regular-webfont.eot");
  src: url("../fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotobold';
  src: url("../fonts/Roboto-Bold-webfont.eot");
  src: url("../fonts/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold-webfont.woff") format("woff"), url("../fonts/Roboto-Bold-webfont.ttf") format("truetype"), url("../fonts/Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*---------------------------------------------------------
 1. Reset
-------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.blue {
	color: #06C;
}

.green {
	color: #090;
}

main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
  *overflow: visible;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]:-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

/*---------------------------------------------------------
 2. Basic Style
-------------------------------------------------------- */
body {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-family: 'robotoregular';
  overflow-x: hidden;
  background-color: #1E2834;
}

a {
  color: #006699;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  text-decoration: none !important;
}
a:hover {
  color: #9D9D9D;
}

h1, h2, h3, h4, h5 {
  color: #9D9D9D;
}

::-webkit-input-placeholder {
  color: #999999;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #999999;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #999999;
}

:-ms-input-placeholder {
  color: #999999;
}

.main-content,
.banner-bg {
  float: right;
  width: 77%;
}
@media screen and (max-width: 1290px) {
  .main-content,
  .banner-bg {
    width: 70%;
  }
}
@media screen and (max-width: 992px) {
  .main-content,
  .banner-bg {
    width: 100%;
  }
}

.content-wrapper {
  padding: 0 80px;

}
@media screen and (max-width: 992px) {
  .content-wrapper {
    padding: 0 30px;
  }
}



h4.widget-title {
  font-size: 20px;
  font-family: 'robotobold';
  text-transform: uppercase;
  margin-bottom: 40px;
}

hr {
  position: relative;
  outline: 0;
  border: 0;
  width: 100%;
  height: 2px;
  background: #9D9D9D;
  margin-top: 40px;
  margin-bottom: 0;
}

.page-section {
  padding-top: 80px;
}

/*---------------------------------------------------------
 3. Header
-------------------------------------------------------- */
.sidebar-menu {
  float: left;
  width: 23%;
  height: 100%;
  position: fixed;
  background: #283140;
  color: white;
  overflow-y: hidden;
}
@media screen and (max-width: 1290px) {
  .sidebar-menu {
    overflow-y: scroll;
    width: 30%;
  }
}

.top-section {
  padding: 40px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border: 4px solid #1E2834;
  -webkit-border-radius: 75px;
  border-radius: 75px;
  overflow: hidden;
  margin-bottom: 20px;
}
.profile-image img {
  width: 100%;
}

h3.profile-title {
  margin-bottom: 5px;
  color: white;
  font-size: 18px;
  font-family: 'robotobold';
}

.main-navigation {
  margin: 30px 0;
}
.main-navigation li {
  display: block;
}
.main-navigation li a {
  padding: 15px 40px;
  display: block;
  color: white;
  font-size: 14px;
}
.main-navigation li a i {
  margin-right: 15px;
  font-size: 24px;
}
.main-navigation li a:hover {
  background: #1e283449;
}
.main-navigation li a.active {
  background: #1E2834;
}
.main-navigation li a.active:hover {
  background: #1E2834;
}

.social-icons {
  display: block;
  padding: 50px 40px;
}
.social-icons li {
  display: inline-block;
  margin-right: 20px;
}
.social-icons a {
  font-size: 28px;
  color: #ffffff;
}
.social-icons a:hover {
  color: #5ec3eb;
}

.responsive-header {
  background: #283140;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .responsive-header .main-navigation {
    margin-top: 10px;
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .responsive-header p {
    color: white;
  }
}
@media screen and (max-width: 992px) {
  .responsive-header .profile-image {
    float: left;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 30px;
  }
  .responsive-header .profile-content {
    text-align: left;
    margin-top: 30px;
    overflow: hidden;
  }
}

@media screen and (max-width: 992px) {
  .top-section {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 992px) {
  .main-navigation a {
    padding: 10px;
  }
  .main-navigation a.active {
    background: #283140 !important;
  }
  .main-navigation a:hover {
    background: #283140 !important;
  }
}

.toggle-menu {
  display: block;
  padding: 15px;
  margin: 0px 0px 20px 0px;
  background: #1E2834;
  color: white;
  font-size: 18px;
}
.toggle-menu:hover {
  color: white;
}

/*---------------------------------------------------------
 4. Main Content
-------------------------------------------------------- */
/*------ banner ------ */
.banner-bg {
  padding: 260px 80px;
  position: relative;
  background: url("../img/7.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
}

.banner-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}

.welcome-text {
  position: relative;
  z-index: 4;
}
.welcome-text h2 {
  margin: 40px 10px 10px 10px;
  font-size: 42px;
  font-family: 'robotobold';
  color: white;
  margin-bottom: 30px;
}

.welcome-text h5 {
  width: 80%;	
  font-size: 19px;
  color: #5ec3eb;
  margin: 45px 10px 10px 10px;
  
}

.welcome-text h3 {
  width: 80%; 
  font-size: 15px;
  color: #9D9D9D;
  margin: 40px 10px 10px 10px;
}


.welcome-text h6{
  width: 27%; 
  font-size: 14px;
  color: #9D9D9D;
  margin: 10px;
  text-align: right;
  font-family: 'Times New Roman';
}


.welcome-text h1{
	font-size: 30px;
	border: 2px solid #5ec3eb;
	font-family: 'robotobold';
	color: #5ec3eb;
  display: inline-block;
	letter-spacing: 6px;
	padding: 20px 35px;
	margin: 27px 10px 10px 10px;

}

/*------ about us ------ */
.about-image {
  width: 100%;
  overflow: hidden;
  margin-bottom: 40px;
  font-size: 18px;
}
.about-image img {
  width: 100%;
  display: block;
}

/*------ projects ------ */
.projects-holder {
  margin-right: 0;
  margin-left: 0;
  margin-top: 40px;
}
.projects-holder .col-md-4,
.projects-holder .col-md-4 {
  padding-right: 1px;
  padding-left: 1px;
}

.project-item {
  width: 100%;
  margin-bottom: 2px;
  overflow: hidden;
  position: relative;
}
.project-item img {
  width: 100%;
  display: block;
}
.project-item:hover .project-hover {
  top: 0;
  opacity: 1;
  visibility: visible;
}

.project-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 40px;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: 0;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.project-hover .inside {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 30px;
}
.project-hover h5 {
  font-size: 16px;
  margin-bottom: 15px;
}
.project-hover h5 a {
  color: white;
}
.project-hover p {
  color: white;
  font-size: 13px;
  line-height: 20px;
}

/*------ contact ------ */
.contact-form {
  margin-top: 40px;
}
.contact-form input, .contact-form textarea {
  width: 100%;
  outline: 0;
  border: 1px solid #aaaaaa;
  padding: 12px;
  color: #999999;
  margin-bottom: 30px;
}
.contact-form input:focus, .contact-form textarea:focus {
  outline: 0;
}
.contact-form .button {
  width: auto;
  background: #283140;
  color: white;
  text-transform: uppercase;
  border: 0;
}

/*---------------------------------------------------------
 5. Footer
-------------------------------------------------------- */
#footer p.copyright-text {
  margin: 40px 0;
  font-size: 13px;
}
#footer p.copyright-text a {
  color: #283140;
}
#footer p.copyright-text a:hover {
  color: #1E2834;
}
